.accordion--show .accordion__title {
  &::after {
    background-image: url("../img/arrow-up.svg");
  }
}

.accordion--nojs .accordion__title {
  &::after {
    display: none;
  }
}

.accordion--hide .accordion__content {
  display: none;
}

.accordion--show .accordion__content,
.accordion--nojs .accordion__content {
  display: block;
  padding-right: 35px;
}
