.accordion__content {
  display: none;
}

.accordion--show .accordion__content,
.accordion--nojs .accordion__content {
  display: block;
  padding-right: 35px;
}

.accordion--nojs .accordion__btn {
  &::after {
    display: none;
  }
}
