.blog {
  @include container;
  margin-top: 116px;

  @media (max-width: $tablet) {
    margin-top: 65px;
  }

  @media (max-width: $mobile) {
    margin-top: 55px;
  }
}

.blog h2 {
  @include font-info(34px, 700, 44px);
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  margin-bottom: 18px;
}

.blog a {
  @include font-info(16px, 500, 21px);
  border-bottom: 1px solid $brown;
}

.blog__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;

  @media (max-width: $tablet) {
    flex-direction: column;
    margin-top: 65px;
  }

  @media (max-width: $mobile) {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 55px;
  }
}

.blog__content-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48.7%;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.blog__item {
  display: flex;
  background-color: $light-brown;
  position: relative;

  &--first {
    margin-bottom: 30px;
  }

  &--second {
    flex-direction: row-reverse;
  }

  @media (max-width: $tablet) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    min-height: 512px;
    margin-bottom: 40px;
  }
}

.blog__item--big {
  width: 48.7%;

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 0;
  }
}

.blog__item--second h3 {
  @media (max-width: $tablet) {
    max-width: 93px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 35px;
  }
}

.blog__img-container {
  width: 50%;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.blog__img-container--big {
  width: 100%;

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.blog__item img {
  object-fit: cover;
  object-position: top;
  display: block;
  width: 285px;
  height: 100%;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    height: 256px;
  }
}

.blog__item--big img {
  position: absolute;
  width: 570px;
  top: 0;
  right: 0;
  z-index: 1;

  @media (max-width: $tablet) {
    position: static;
  }
}

.blog__item-article {
  padding: 60px;
  padding-top: 68px;
  box-sizing: border-box;
  width: 50%;
  min-height: 300px;

  &--big {
    width: 80%;
    height: 50%;
    background: $light-brown;
    position: relative;
    padding-top: 92px;
    z-index: 2;
    align-self: flex-end;
  }

  @media (max-width: $tablet) {
    padding-top: 67px;
    padding-left: 65px;
    padding-right: 67px;
    padding-bottom: 75px;

    &--big {
      position: static;
      width: 50%;
      align-self: center;
      padding-top: 84px;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    min-height: 256px;
    padding-top: 45px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 50px;

    &--big {
      padding-top: 62px;
      padding-bottom: 35px;
    }
  }
}

.blog__item-article time {
  @include font-info(14px, 500, 18px);
  color: $grey-font;
}

.blog__item-article h3 {
  font-family: "Cormorant Garamond", "Times New Roman", serif;

  @include font-info(26px, 600, 34px);
  margin-top: 13px;
  margin-bottom: 36px;
}
