.FAQ {
  @include container;
  max-width: 970px;
  margin-top: 120px;

  @media (max-width: $tablet) {
    margin-top: 70px;
  }

  @media (max-width: $mobile) {
    margin-top: 60px;
  }
}

.FAQ h2 {
  @include font-info(34px, 700, 44px);
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  letter-spacing: 0.03em;
  margin-bottom: 48px;

  @media (max-width: $mobile) {
    margin-bottom: 28px;
  }
}

.FAQ__accordion-wrapper {
  @include reset-list;
  border: 1px solid $brown;
  text-align: left;
}

.FAQ__accordion {
  border-bottom: 1px solid $brown;
  padding: 45px 20px 41px 42px;

  @media (max-width: $tablet) {
    padding-bottom: 21px;
    padding-left: 48px;
  }

  @media (max-width: $mobile) {
    padding: 4px 22px 4px 24px;
  }
}

.FAQ__accordion.accordion--show {
  padding-top: 42px;
  padding-left: 42px;
  padding-bottom: 25px;

  @media (max-width: $tablet) {
    padding-left: 50px;
    padding-bottom: 26px;
  }

  @media (max-width: $mobile) {
    padding-left: 25px;
    padding-top: 0;
    padding-right: 22px;
    padding-bottom: 5px;
  }
}

.FAQ__accordion p {
  @include font-info(16px, 400, 21px);
  margin-top: 7px;
  max-width: 520px;
  padding-left: 7px;

  @media (max-width: $tablet) {
    padding-left: 0;
    max-width: 530px;
  }

  @media (max-width: $mobile) {
    @include font-info(14px, 400, 20px);
    padding-right: 40px;
  }
}

.FAQ h3 {
  margin: 0;
}

.FAQ__btn {
  @include font-info(18px, 500, 24px);
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-right: 45px;
  cursor: pointer;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;

  &::after {
    @include pseudo;
    top: 5px;
    right: 28px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: $white;
    outline: none;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet) {
    padding-bottom: 20px;

    &::after {
      width: 23px;
    }
  }

  @media (max-width: $mobile) {
    @include font-info(16px, 500, 22px);
    margin-top: 16px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    padding-right: 55px;

    &--return {
      padding-right: 33px;
    }

    &::after {
      top: 0;
      right: 0;
      width: 20px;
    }
  }
}

.accordion--show .FAQ__btn {
  &::after {
    background-image: url("../img/arrow-up.svg");
  }

  @media (max-width: $mobile) {
    &::after {
      top: 6px;
    }
  }
}
