$white: #ffffff;
$black-font: #1d1613;
$black: #000000;
$grey-font: #9b9997;
$grey: #f6f5f4;
$brown: #a87b62;
$light-brown: #f0eae4;
$background: rgba(29, 22, 19, 0.25);

$tablet: 1023px;
$mobile: 767px;
$retina-dppx: 2dppx;
